.main {
    height: 100vh;
    background-color: $darkCyan;
    background-image:
        url(../images/bg-pattern-top.svg),
        url(../images/bg-pattern-bottom.svg);
        // NEW WAY TO POSITION
        background-position: right 50vw bottom 50vh, 
                            left 50vw top 50vh;
        // OLD WAY
        // background-position: top calc(50% - 350px) left calc(50% - 350px),
        //                         top calc(50% + 350px) left calc(50% + 350px);
        background-size: contain;
        background-repeat: no-repeat;
}

.card {
    background-color: white;
    height: 370px;
    width: 350px;
    border-radius: 15px;

    &__top {
        width: 100%;
        height: 140px;
        border-radius: 15px 15px 0px 0px;
        background-image: url(../images/bg-pattern-card.svg);
    }

    &__person {
            flex-direction: column;
            position: relative;
            top: -50px;
            
            > p {
                margin: 3px;
            }

            &__avatar {
                background-image: url(../images/image-victor.jpg);
                background-position: center;
                background-size: contain;
                width: 96px;
                height: 96px;
                border-radius: 50%;
                border: white solid 5px;
            }

            &__name {
                margin-top: 20px !important;
            }
    
            &__city {
                font-size: 13px;
                margin-bottom: 20px !important;
            }
    }

    &__stats {
        border-top: 2px solid hsl(0%, 0%, 95%);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(100px, auto);
        align-items: center;
        justify-items: center;
        text-align: center;
        position: relative;
        top: -50px;

        > div > p {
            margin: 3px;
        }

        > div > .number{
            color: $darkBlue;
            font-weight: $fontBig;
        }

        > div > .label{
            font-size: 10px;
            letter-spacing: 2px;
        }
    }
}